<div class="loader-bg" *ngIf="show">
    <div class="loader-box">
        <div class="loader-content">
            <div class="loader-text">Loading</div>
            <div class="loader-circle"></div>
            <div class="loader-line-mask one">
            <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask two">
            <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask three">
            <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask four">
            <div class="loader-line"></div>
            </div>
        </div>
    </div>
</div>