<div id="login-form-wrapper">
    <div id="login-form" *ngIf="showForm">
        <h1>Angular 4/Phalcon JWT</h1>
        <div class="window-wrapper">
            <div class="window-header">
            	<h2>Login</h2>
            </div>
            <div class="window-content">
                <form class="pure-form pure-form-stacked" name="login-form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                    <div class="alert error" *ngIf="(showErrors && formErrors.length) || (showExpiryError) || (showValidatorErrors && loginForm.invalid)">
                        <ul *ngIf="showExpiryError">
                            <li>Session expired. You have been logged out.</li>
                        </ul>
                        <ul *ngIf="showValidatorErrors && loginForm.invalid">
                            <li *ngIf="loginForm.get('username').errors && loginForm.get('username').errors.required">
                                Username is required.
                            </li>
                            <li *ngIf="loginForm.get('username').errors &&loginForm.get('username').errors.minlength">
                                Username must be at least 3 characters long.
                            </li>
                            <li *ngIf="loginForm.get('password').errors && loginForm.get('password').errors.required">
                                Password is required
                            </li>
                            <li *ngIf="loginForm.get('password').errors && loginForm.get('password').errors.minlength">
                                Password must be at least 3 characters long.
                            </li>
                        </ul>
                        <ul *ngIf="showErrors && formErrors.length">
                            <li *ngFor="let error of formErrors">{{error}}</li>
                        </ul>
                    </div>
                	<fieldset>
                        <label for="username">Username</label>
                        <input type="text" class="pure-input" [ngClass]="{'invalid': usernameInvalid=='true'}" name="username" formControlName="username" required minlength="3" />
            			<br />
                        <label for="password">Password</label>
                        <input type="password" class="pure-input" [ngClass]="{'invalid': passwordInvalid=='true'}" name="password" formControlName="password" required />
            			<br />
                        <button class="pure-button pure-button-primary">Login</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>